<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lyonscg" translate="label" sortOrder="150">
            <label>Lyonscg</label>
        </tab>
        <section id="lyonscg_circalightning_website_switcher" translate="label" type="text" sortOrder="100" showInDefault="1">
            <resource>Magento_Config::config</resource>
            <label>Website Switcher</label>
            <tab>lyonscg</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General Settings</label>
                <field id="switcher_options" translate="label" type="multiselect" sortOrder="90" showInDefault="1">
                    <label>Options for Website Switcher on Storefront</label>
                    <source_model>Lyonscg\CircaLighting\Model\Config\Source\WebsiteSwitcher</source_model>
                    <backend_model>Lyonscg\CircaLighting\Model\Config\Backend\WebsiteSwitcher</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
