<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ClassyLlama\AvaTax\Helper\Rest\Config">
        <plugin sortOrder="1" name="CapgeminiAvaTaxConfig" type="Capgemini\AvaTax\Plugin\Helper\Rest\ConfigPlugin"/>
    </type>
    <type name="ClassyLlama\AvaTax\Model\Config\Source\CustomerCode">
        <plugin name="capgemini_ava_tax_add_ext_attrs_to_customer_code_format_source_model"
                type="Capgemini\AvaTax\Plugin\Model\Config\Source\CustomerCodePlugin"/>
    </type>
    <type name="ClassyLlama\AvaTax\Helper\Customer">
        <plugin name="capgemini_ava_allow_using_ext_attrs_for_customer_code_format"
                type="Capgemini\AvaTax\Plugin\Helper\CustomerPlugin"/>
    </type>
</config>
