<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Password Reset Confirmation for %customer_name" customer_name=$customer.name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var customer.name":"Customer Name",
"var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])":"Reset Password URL"
} @-->

{{template config_path="design/email/header_template"}}

<div class="email-body">
    <p class="greeting"><strong>{{trans "%customer_name," customer_name=$customer.name}}</strong></p>
    <p class="greeting-text">{{trans "There was recently a request to change the password for your account. If you requested this password change, please reset your password here:"}}</p>
    <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="left">
                    <tr>
                        <td align="center">
                            <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Reset Password"}}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>{{trans "If you did not make this request, you can ignore this message and your password will remain the same."}}</p>
</div>

{{template config_path="design/email/footer_template"}}
