<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <company>
            <general>
                <business_types><![CDATA[Designer
Architect
Builder]]></business_types>
                <collections><![CDATA[VC Signature
VC Modern
VC Architectural
VC Studio
VC Fans]]></collections>
                <enable_tax_exempt_notification>1</enable_tax_exempt_notification>
                <enable_member_state>0</enable_member_state>
                <enable_vat_number>0</enable_vat_number>
                <member_state_countries>
                    AT,BE,BG,HR,CY,CZ,DK,EE,ES,FI,FR,DE,GR,HU,IE,IT,LV,LT,LU,MT,NL,PL,PT,RO,SK,SI,SE,GB
                </member_state_countries>
                <tmp_files_cleanup_schedule>0 2 * * *</tmp_files_cleanup_schedule>
            </general>
        </company>
    </default>
</config>
