<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method'"></span>
            <button class="action action-edit" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
            <!-- ko if: (getDeliveryDate()) -->
            <strong><span class="value" data-bind="text: getDeliveryDate()"></span></strong>
            <!--/ko-->
        </div>
        <!-- ko if: (isOverWeight()) -->
        <div class="shipping-information-content">
            <span class="value" translate="'One or more items is oversized, overweight or made to order. Please complete checkout and a Visual Comfort representative will provide a shipping quote shortly.'"></span>
        </div>
        <!--/ko-->
    </div>
</div>
<!--/ko-->
