<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <technical_resources>
            <general>
                <enabled>0</enabled>
                <resource_path><![CDATA[pub/media/technical_resources]]></resource_path>
                <attribute_code><![CDATA[technical_resources]]></attribute_code>
                <capitalize><![CDATA[cad|ies]]></capitalize>
            </general>
        </technical_resources>
    </default>
</config>
