<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bloomreach_search">
            <resource>Bloomreach_Connector::config_search</resource>
            <include path="Capgemini_BloomreachSearchProxy::system/search.xml"/>
        </section>
    </system>
</config>
