<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cms">
            <group id="pagebuilder">
                <field id="capgemini_cmslazyload_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Lazy Load Images Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Adds loading='lazy' attribute to img tags within Page Builder content]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
