<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lyonscg_circalightning_website_switcher>
            <general>
                <switcher_options>base,uk,eu</switcher_options>
            </general>
        </lyonscg_circalightning_website_switcher>
    </default>
</config>
