<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="capgemini_bloomreach_api" frontName="capgemini_bloomreach_api">
            <module name="Capgemini_BloomreachApi"/>
        </route>
    </router>
</config>
