<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Lyonscg_AddressRestrictions::address_restrictions" title="Lyonscg AddressRestrictions" sortOrder="50">
                        <resource id="Lyonscg_AddressRestrictions::settings" title="Update Settings" sortOrder="10"/>
                        <resource id="Lyonscg_AddressRestrictions::viewlogs" title="View Deleted Address Logs" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
