<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <!--
        <route id="capgemini_company" frontName="capgemini_company">
            <module name="Capgemini_Company" />
        </route>
        -->
        <route id="company" frontName="company">
            <module name="Capgemini_Company" before="Magento_Company"/>
        </route>
    </router>
</config>
