<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pdp_dimensions>
            <general>
                <enabled>0</enabled>
                <attribute_code><![CDATA[dimension_attributes]]></attribute_code>
            </general>
        </pdp_dimensions>
    </default>
</config>
