<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amlocator>
            <location_types>
                <showroom>Visual Comfort Showrooms</showroom>
                <dealer>Dealers/Retail Partners</dealer>
            </location_types>
        </amlocator>
    </default>
</config>
