<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="rysun" translate="label" sortOrder="999">
			<label>rysun</label>
		</tab>
		<section id="darkmode" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Darkmode</label>
			<tab>rysun</tab>
			<resource>Rysun_DarkMode::config_rysun_darkmode</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>general</label>
				<field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="stringvalue" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Yes</label>
					<comment>?darkmode=Yes</comment>
				</field>
			</group>
		</section>
	</system>
</config>
