<?xml version="1.0"?>
<!--
/**
 * Capgemini_CmsBlockRandom
 *
 * @author    Eugene Nazarov <eugene.nazarov@capgemini.com>
 * @copyright 2022 Capgemini, Inc (www.capgemini.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Capgemini_CmsBlockRandom">
        <sequence>
            <module name="Magento_Widget" />
        </sequence>
    </module>
</config>
