<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="catalog" frontName="catalog">
            <module name="Capgemini_BloomreachCategoryProxy" before="Magento_Catalog"/>
        </route>
        <route id="capgemini_bloomreach_category_proxy" frontName="capgemini_bloomreach_category_proxy">
            <module name="Capgemini_BloomreachCategoryProxy"/>
        </route>
    </router>
</config>
