<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<th class="data-grid-multicheck-cell">
    <div class="action-multicheck-wrap" collapsible="" css="_disabled: !totalRecords()">
        <input class="admin__control-checkbox" data-bind="
                checked: allSelected(),
                attr: {id: ++ko.uid},
                event: { change: togglePage },
                css: { '_indeterminate': indetermine },
                enable: totalRecords"
               type="checkbox">
        <label attr="for: ko.uid"></label>
    </div>
</th>
