<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="vendor_prevent_minification" type="Capgemini\JsMinification\Plugin\View\MinificationPlugin" />
    </type>
</config>
