<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lyonscg_AddressRestrictions::viewlogs" title="Address Delete Logs" translate="title"
             module="Lyonscg_AddressRestrictions" sortOrder="100" action="address_restrictions/logs/"
             parent="Magento_Customer::customer" resource="Lyonscg_AddressRestrictions::viewlogs"/>
    </menu>
</config>
