<?xml version="1.0"?>
<!--
/**
 * Capgemini_VcServicePoValidationMock
 *
 * @author    Eugene Nazarov <eugene.nazarov@capgemini.com>
 * @copyright 2022 Capgemini, Inc (www.capgemini.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Webapi\Controller\Rest\RequestProcessorPool">
        <arguments>
            <argument name="requestProcessors" xsi:type="array">
                <item name="po_validation_mock" xsi:type="object" sortOrder="10">Capgemini\VcServicePoValidationMock\Controller\Rest\PoValidationMockProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
