<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="anonymise_account_before_delete">
        <observer name="capgemini_customer_data_purger_final_purge" instance="Capgemini\CustomerDataPurger\Observer\FinalPurge"/>
    </event>
</config>
    <!--controller_front_send_response_before-->
