<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Rysun\AttributeRange\Api\AttributeRangeRepositoryInterface" type="Rysun\AttributeRange\Model\AttributeRangeRepository"/>
	<preference for="Rysun\AttributeRange\Api\Data\AttributeRangeInterface" type="Rysun\AttributeRange\Model\AttributeRange"/>
	<preference for="Rysun\AttributeRange\Api\Data\AttributeRangeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Rysun\AttributeRange\Model\ResourceModel\AttributeRange\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">rysun_attributerange_attributerange</argument>
			<argument name="resourceModel" xsi:type="string">Rysun\AttributeRange\Model\ResourceModel\AttributeRange\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="rysun_attributerange_attributerange_listing_data_source" xsi:type="string">Rysun\AttributeRange\Model\ResourceModel\AttributeRange\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
