<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\EmailNotificationInterface">
        <plugin name="disable_welcome_emails_for_trade_accounts"
            type="Capgemini\CustomerEmail\Plugin\DisableEmail"/>
    </type>
</config>
