<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="price_validation" translate="label" type="text" sortOrder="170" showInDefault="1">
            <label>Product Price</label>
            <tab>lyonscg</tab>
            <resource>Capgemini_VcServiceProductPrice::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General</label>
                <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>API Key</label>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Endpoint</label>
                </field>
                <field id="timeout" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Timeout</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="30" showInDefault="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="login" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Endpoint HTTP Basic Auth Logic</label>
                </field>
                <field id="password" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Endpoint HTTP Basic Auth Password</label>
                </field>
            </group>
        </section>
    </system>
</config>
